<!-- main container -->
<div class="content">

    <!-- settings changer -->

    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>微信客户列表</h3>
                <div class="span10 pull-right">
                    <input type="text" class="span5 search" placeholder="输入您要查询的客户关键字" />

                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    <div class="ui-dropdown">
                        <div class="head" data-toggle="tooltip" title="Click me!">
                            客户查询
                            <i class="arrow-down"></i>
                        </div>
                        <div class="dialog">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <div class="body">
                                <p class="title">
                                    Show users where:
                                </p>
                                <div class="form">
                                    <select>
                                            <option />昵称
                                            <option />Email
                                            <option />Number of orders
                                            <option />Signed up
                                            <option />Last seen
                                        </select>
                                    <select>
                                            <option />is equal to
                                            <option />is not equal to
                                            <option />is greater than
                                            <option />starts with
                                            <option />contains
                                        </select>
                                    <input type="text" />
                                    <a class="btn-flat small">Add filter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!--
                    <a href="new-user.html" class="btn-flat success pull-right">
                        <span>&#43;</span> NEW USER
                    </a>--}}
                </div>
            </div>

            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="span3 sortable">
                                昵称
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>电话
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>区域
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>邮箱
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>孩子
                            </th>
                            <th class="span3 sortable">
                                <span class="line"></span>来源
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <div id="divshow">
                            <!-- row -->
                            {{#each customersList}}
                            <tr>
                                <td>
                                    <img src={{headimgurl}} class="img-circle avatar hidden-phone" />
                                    <a href="user-profile.html" class="name">{{nickname}}</a>
                                    <span class="subtext">{{sex}}</span>
                                </td>
                                <td>
                                    {{phone_no}}
                                </td>
                                <td>
                                    {{province}}
                                </td>
                                <td>
                                    {{email}}
                                </td>
                                <td>
                                    {{children}}
                                </td>
                                <td>
                                    {{#if recommender_headimgurl}}
                                    <img src={{recommender_headimgurl}} class="img-circle avatar hidden-phone" />
                                    <a href="#" class="name">{{recommender_nickname}}</a>
                                    <span class="subtext">{{sex}}</span> {{else}} 普通关注 {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </div>
                    </tbody>
                </table>
            </div>
            <div class="pagination pull-right">
                {{!--
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">&#8249;</a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&#8250;</a></li>
                    <li><a href="#">尾页</a></li>
                </ul>--}} {{!--
                <ul class="page" maxshowpageitem="5" pagelistcount="2" id="page"></ul>--}}
                <div id="kkpager" class="billManKK"></div>
            </div>
            <!-- end users table -->
        </div>
    </div>
</div>
<!-- end main container -->
{{#section 'css'}}
<!-- bootstrap -->
<link href="../stylesheets/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="../stylesheets/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link href="../stylesheets/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

<!-- global styles -->
<link rel="stylesheet" type="text/css" href="../stylesheets/layout.css" />
<link rel="stylesheet" type="text/css" href="../stylesheets/elements.css" />
<link rel="stylesheet" type="text/css" href="../stylesheets/icons.css" />

<!-- libraries -->
<link href="../stylesheets/lib/font-awesome.css" type="text/css" rel="stylesheet" />

<!-- this page specific styles -->
<link rel="stylesheet" href="../stylesheets/compiled/user-list.css" type="text/css" media="screen" />

<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css" href="../stylesheets/pager.css" /> {{/section}} {{#section 'javascriptlib'}}
<script src="../javascripts/jquery-latest.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/theme.js"></script>
<script src="../javascripts/pager.js"></script>
<script type="text/javascript">
    $(function () {
        {{#if totalPages}}
        var totalPage = {{totalPages}};
    {{else}}
    var totalPage = 1;
    {{/if}}
            var totalRecords = 500;

            kkpager.generPageHtml({
                pno: {{pno}},
        total: totalPage,
            //总数据条数
            totalRecords : totalRecords,
                mode : 'click',
                    click : function(n) {

                        this.selectPage(n);
                        window.location = "/users/customersList?page=" + n;
                        return false;
                    }
    });
        });

</script>
{{/section}}